{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="chuckhead">
      <h2>Recent Videos</h1>
    </div>
    {% if video_list %}
       {% for i in video_list %}
             <div class="col-xs-6 blog-panel">
             <h3><a href="{{i.slug}}">{{i.title}}</a></h3>
               <span class='author'>By {{i.creator}}</span>
               <span class='posted-on'>Posted: {{i.posted}}</span>
               <div class='blog-description'>
                   {% if i.thumbnail %}
                   <a href="{{i.slug}}"><img class="thumbnail" src="{{i.thumbnail.url}}"/></a>
                   {% else %}
                   <a href="{{i.slug}}"<img class="thumbnail" src="/media/videos/thumbs/default.png" /></a>
                   {% endif %}
                   <p>{{i.description|truncatechars_html:280}}</p>  
               </div>
               <span class='readmore'><a href="{{i.slug}}">Read more</a></span>
             </div>
       {% endfor %}
    {% else %}
       <div class="col-xs-6 blog-panel">
       <h3>No videos yet.  Check back.</h3>
       </div>
    {% endif %}
  </div>
{% endblock %}

